main {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  background-color: #cdebff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chakra Petch", sans-serif;
  font-size: xx-large;
  color: #4b00e7;
}
.heading {
  text-align: center;
}
p {
  font-family: "Rajdhani", sans-serif;
  color: #ff7bac;
  font-size: larger;
  margin: 10px;
}
h2 {
  color: #4b00e7;
}
h3,
h4,
h5,
h6 {
  font-size: medium;
}
a {
  font-family: "Chakra Petch", sans-serif;
  color: black;
}
a:hover {
  color: #00ffff;
}
header {
  top: 0;
  padding: 1rem 2rem;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0);
  position: sticky;
  background-color: #cdebff;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
}
/* JAVASCRIPT */
#navn_container {
  width: 30%;
  aspect-ratio: 5;
  position: absolute;
  top: 75%;
  left: 70%;
}

#navn_sprite {
  width: 100%;
  height: 100%;
  background-image: url(svg/navn.svg);
  background-size: cover;
}
#portfolio_container {
  width: 50%;
  aspect-ratio: 5;
  position: absolute;
  top: 60%;
  left: 55%;
}
#portfolio_sprite {
  width: 100%;
  height: 100%;
  background-image: url(svg/portf.svg);
  background-size: cover;
}
#hjerte1_container {
  width: 8%;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 80%;
}
#hjerte1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(svg/hjerte1.svg);
  background-size: cover;
}
#hjerte2_container {
  width: 5%;
  aspect-ratio: 1;
  position: absolute;
  top: 55%;
  left: 74%;
}
#hjerte2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(svg/hjerte2.svg);
  background-size: cover;
}

.op_ned {
  animation-name: op_ned_kf;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes op_ned_kf {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(10%);
  }

  45% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(0);
  }

  55% {
    transform: translateY();
  }

  90% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
.forsvind {
  animation-name: forsvind_kf;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes forsvind_kf {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
