@media all and (min-width: 400px) {
  #splash {
    background-image: url(SVG/splahbillede.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0%;
    position: absolute;
    background-size: cover;
  }
}
@media (min-width: 1090px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }

  .grid_3-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
