@media all and (min-width: 400px) {
  #splash {
    background-image: url(SVG/splahbillede.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0%;
    position: absolute;
    background-size: cover;
  }
}
@media (min-width: 1090px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }

  .grid_3-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .ux_mood {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .ux_survey {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flex-col :last-child {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.flex-col_2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flex-col_2 :last-child {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.flex-col_3 {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.flex-col_4 {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.flex-col_4-2 {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
